.container
    .jumbotron
        h1 Learning MEAN
        p This is from main.jade partial. Value from controller {{myVar}}

    .row
        .col-md-6
            div(ng-include="'/ngPartials/featured-courses'")
        .col-md-6
            div(ng-include="'/ngPartials/new-courses'")
